<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'CHANGE_PASSWORD.TITLE' | translate }}</ion-title>
    <ion-buttons slot='start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <form [formGroup]='changePasswordForm' class='ion-padding' (submit)='doChangePassword()' (keyup.enter)='doChangePassword()'>
    <ion-list>
      <div>
        <ion-item>
          <ion-label position='floating'>{{ 'USERNAME' | translate }}:</ion-label>
          <ion-input formControlName='username' type='text'></ion-input>
        </ion-item>
      </div>
      <div>
        <ion-item>
          <ion-label position='floating'>{{ 'PASSWORD' | translate }}:</ion-label>
          <ion-input formControlName='password' type='password' autofocus='true'></ion-input>
        </ion-item>
        <ion-item lines='none' *ngIf='!changePasswordForm.controls.password.valid && (changePasswordForm.touched || changePasswordForm.dirty)'>
          <ion-icon class='ion-padding-end' color='danger' name='information-circle-outline'></ion-icon>
          <ion-text color='danger'>
            <div *ngIf='!!changePasswordForm.controls.password.errors.required'>{{ 'VALIDATION.REQUIRED' | translate }}</div>
          </ion-text>
        </ion-item>
      </div>
      <div>
        <ion-item>
          <ion-label position='floating'>{{ 'CHANGE_PASSWORD.NEW_PASSWORD' | translate }}:</ion-label>
          <ion-input formControlName='newPassword' type='password'></ion-input>
        </ion-item>
        <ion-item lines='none' *ngIf='!changePasswordForm.controls.newPassword.valid && (changePasswordForm.touched || changePasswordForm.dirty)'>
          <ion-icon class='ion-padding-end' color='danger' name='information-circle-outline'></ion-icon>
          <ion-text color='danger'>
            <div *ngIf='!!changePasswordForm.controls.newPassword.errors.required'>{{ 'VALIDATION.REQUIRED' | translate }}</div>
            <div *ngIf='!!changePasswordForm.controls.newPassword.errors.minlength' translate [translateParams]='{ "minLength": MIN_PASSWORD_LENGTH }'>
              VALIDATION.MIN_LENGTH
            </div>
          </ion-text>
        </ion-item>
      </div>
      <div class='ion-padding-top'>
        <ion-button type='submit' expand='block'>{{ 'CHANGE_PASSWORD.BUTTON' | translate }}</ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>