<ion-tabs>
  <ion-tab-bar slot='bottom'>
    <ion-tab-button tab='road-network'>
      <ion-icon name='home'></ion-icon>
      <ion-label>{{ 'HOME.TITLE' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab='profile'>
      <ion-icon name="contact"></ion-icon>
      <ion-label>{{ 'PROFILE.TITLE' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab='settings'>
      <ion-icon name='settings'></ion-icon>
      <ion-label>{{ 'SETTINGS.TITLE' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>